body {
    margin: 0;
    font-family: 'Smythe', cursive;
} 
.header{
   
    margin-bottom: 50px;
    text-align: center;
}
.header-logo{
    width: 550px;
}
.container{
 max-width: 550px;  
 margin: 0 auto;
}
.feed-body{
 width: 600px;
}
.menu-container{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
}
.ingredients{
    font-weight: 200;
    color: #9CA3AF;
}
.menu-box{
    /* display: flex;
    width: 508px;
    height:140px;
   border-bottom: 1px solid grey;
   justify-content: space-between;
   align-items: center;
   padding: 15px; */
   display: flex;
   align-items: center;
   gap:8px;
 
}
.menu-text{
    padding: 0;
    margin: 0;
}
.add-btn{
   height: 50px;
   width: 50px;
   border-radius: 50%;
   border:1px solid #9CA3AF;
   background-color: #fff;
}
.add-order{
    border-radius: 50%;
    border:none;
    font-size: xx-large;
}

.item-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.main{
    display: flex;
    align-items: center;
}
.display-order{
    width: 100%;
   margin: 0 auto;
}
.total-price-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-price{
    font-weight: bold;
}
.remove-btn{
    border: none
}
.payment-btn{
    width:100%;
    background-color: #16DB99;
    border:none;
    padding: 12px;
}

.complete-order{
    display: none;
}
.menu-order-heading{
    text-align: center;
}



.form-container{
    display: none;
    position: fixed;
    padding: 10px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    height: 400px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: rgb(12, 12, 12);
    color: whitesmoke;
}
form{
    display: flex;
    flex-direction: column;
    gap:9px;
    
}
input{
    border: 1px solid #0891b2;
    padding: 8px;
    border-radius: 3px;  
}
.pay-btn{
    padding: 8px;
    margin-top: 17px;
    margin-bottom: 5px;
    background-color: #16DB99;
    border:none;
}
.form-header{
    text-align: center;
    padding: 30px;
    font-weight: bolder;
    font-size:20px;
}
.order-container-text{
    background-color: #ECFDF5;
    text-align: center;
    padding: 17px;
}
